
#Survey {

  --checkwidth: 2.5rem;
  --checkheight: 2.5rem;
  --checkstrength: 0.4rem;
  --border-radius: 0.2rem;

  background: #ffffff;

  div[role="group"] {
    outline: none;
    border: 0;
  }

  label {
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    transition: color .3s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      height: 3px;
      width: 8px;
      left: -27px;
      background: var(--check);
      border-radius: 2px;
      transition: background .3s ease;
    }

    &:after {
      height: 5px;
      width: 5px;
      top: 8px;
      left: -35px;
      border-radius: 50%;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--checkheight);
    width: var(--checkwidth);
    border-radius: 0.2rem;
    outline: none;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: #ffffff;
    display: grid;
    align-items: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0.22rem;
      top: auto;
      background: #000000;
      border-radius: var(--border-radius);
    }

    &::before {
      width: 0;
      right: 60%;
      transform-origin: right bottom;
    }

    &::after {
      width: 0;
      left: 40%;
      transform-origin: left bottom;
    }

    &:checked {
      background: #6bb53e;
      transition: background-color 2s ease;
      border: 0;
      &::before {
        animation: check-01 .4s ease forwards;
      }

      &::after {
        animation: check-02 .4s ease forwards;
      }

      + label {
        animation: move .3s ease .1s forwards;

        &::after {
          animation: firework .5s ease forwards .1s;
        }
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;
    &::before {
      width: 0;
      right: 65%;
      transform-origin: right bottom;
    }

    &::after {
      width: 0;
      left: 38%;
      transform-origin: left bottom;
    }
  }


  @keyframes move {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
    100% {
      padding-right: 4px;
    }
  }


  @keyframes check-01 {
    0% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 1.6rem;
      transform: rotate(45deg);
    }
    100% {
      width: .6rem;
      top: 1.6rem;
      transform: rotate(45deg);
      background: #ffffff;
    }
  }

  @keyframes check-02 {
    0% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: 0px;
      top: 1.6rem;
      transform: rotate(-45deg);
    }
    100% {
      width: 1.6rem;
      top: 1.6rem;
      transform: rotate(-45deg);
      background: #ffffff;

    }
  }

  @keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #6bb53e, 0 0 0 -2px #6bb53e, 0 0 0 -2px #6bb53e, 0 0 0 -2px #6bb53e, 0 0 0 -2px #6bb53e, 0 0 0 -2px #6bb53e;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -35px 0 0px #6bb53e, 33px -21px 0 0px #6bb53e, 33px 21px 0 0px #6bb53e, 0 35px 0 0px #6bb53e, -33px 21px 0 0px #6bb53e, -33px -21px 0 0px #6bb53e;
    }
  }
}
